/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */
@font-face {
  font-family: 'Circular';
  src: url('/fonts/CircularStd-Book.eot');
  src: url('/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularStd-Book.woff2') format('woff2'),
    url('/fonts/CircularStd-Book.woff') format('woff'),
    url('/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src: url('/fonts/CircularStd-Bold.eot');
  src: url('/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularStd-Bold.woff2') format('woff2'),
    url('/fonts/CircularStd-Bold.woff') format('woff'),
    url('/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}
